<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--/* th:fragment="이름" : layout 에서 사용할 조각 */-->\
<div th:fragment="header">
    <h1>My First Spring Boot Project</h1>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/image/pochacco.png}" alt="Bootstrap" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/board/register}">BoardRegister</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/board/list}">BoardList</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>