<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd" status="INFO">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="log" level="INFO"/>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>

</Configuration>