<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout}">

<div class="container-md" layout:fragment="content" th:with="boardDTO=${boardFileDTO.boardDTO}">
    <h1> No [[${boardDTO.bno}]]. Page </h1>

    <!--/* enctype="multipart/form-data" 없으면 파일이 안감 */-->
    <form action="/board/update" method="post" id="modForm" enctype="multipart/form-data">
        <input type="hidden" name="bno" th:value="${boardDTO.bno}">
        <div class="mb-3">
            <label for="t" class="form-label">title</label>
            <input type="text" class="form-control"
                   name="title" th:value="${boardDTO.title}" id="t" readonly>
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">writer</label>
            <input type="text" class="form-control"
                   name="writer" th:value="${boardDTO.writer}" id="w" readonly>
        </div>
        <div class="mb-3">
            <label for="r" class="form-label">regDate</label>
            <input type="text" class="form-control"
                   th:value="${boardDTO.regDate}" id="r" readonly>
        </div>
        <div class="mb-3">
            <label for="m" class="form-label">modDate</label>
            <input type="text" class="form-control"
                   th:value="${boardDTO.modDate}" id="m" readonly>
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">content</label>
            <textarea type="text" class="form-control"
                      name="content" id="c" cols="30" rows="10" readonly>[[${boardDTO.content}]]</textarea>
        </div>
        <!--/* file print */-->
        <div class="mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="fvo:${boardFileDTO.fileList}">
                    <div th:if="${fvo.fileType == 1}" class="mb-3">
                        <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}">
                    </div>
                    <div th:unless="${fvo.fileType == 1}" class="mb-3">
                        <!--/* icon */-->
                        <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" th:download="${fvo.fileName}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5"/>
                            </svg>
                        </a>
                    </div>
                    <div class="mb-3">
                        <div class="fw-bold">[[${fvo.fileName}]]</div>
                    </div>
                    <span class="badge rounded-pill text-bg-warning">[[${fvo.regDate}]] / [[${fvo.fileSize}]]Bytes</span>
                    <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-sm btn-outline-danger file-x" style="visibility:hidden;">X</button>
                </li>
            </ul>
        </div>

        <!--/* file 추가 */-->
        <div class="mb-3">
            <input type="file" class="form-control" name="files" id="file" multiple style="display:none;">
            <button type="button" class="btn btn-outline-primary" id="trigger" disabled>file upload</button>
        </div>

        <!--/* file 표시 */-->
        <div class="mb-3" id="fileZone"></div>

        <button type="button" id="listBtn" class="btn btn-primary">List</button>
        <button type="button" id="modBtn" class="btn btn-warning">Modify</button>
        <button type="button" id="delBtn" class="btn btn-danger">Remove</button>
    </form>

    <!-- comment -->
    <br><br>
    <!--/* comment line */-->
    <!--/* post */-->
    <!--    <th:block sec:authorize="isAnonymous()">
            <div class="input-group mb-3">
                <span class="input-group-text cmtWriter">로그인을 해주세요.</span>
            </div>
        </th:block>-->
    <th:block>
        <div class="input-group mb-3">
            <span class="input-group-text cmtWriter" id="cmtWriter">tester</span>
            <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-secondary">post</button>
        </div>
    </th:block>
    <!--/* spread */-->
    <ul class="list-group list-group-flush" id="cmtListArea">
        <li class="list-group-item">
            <div class="ms-2 me-auto">
                <div class="fw-bold">writer</div>
                Content
            </div>
            <span class="badge text-bg-primary rounded-pill">regDate</span>
        </li>
    </ul>

    <!--/* moreBnt */-->
    <div>
        <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility:hidden">MORE + </button>
    </div>

    <!--/* modal */-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cmtWriterMod">Anonymous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="cmtTextMod">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cmtModBtn" class="btn btn-primary">changes</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let bnoValue = [[${boardDTO.bno}]];
    </script>
    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardRegister.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script>
        spreadCommentList(bnoValue);
    </script>

</div>