<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="container-md" layout:fragment="content">
    <h1> No [[${boardDTO.bno}]]. Page </h1>

    <form action="/board/update" method="post" id="modForm">
        <input type="hidden" name="bno" th:value="${boardDTO.bno}">
        <div class="mb-3">
            <label for="t" class="form-label">title</label>
            <input type="text" class="form-control"
                   name="title" th:value="${boardDTO.title}" id="t" readonly>
        </div>
        <div class="mb-3">
            <label for="w" class="form-label">writer</label>
            <input type="text" class="form-control"
                   name="writer" th:value="${boardDTO.writer}" id="w" readonly>
        </div>
        <div class="mb-3">
            <label for="r" class="form-label">regDate</label>
            <input type="text" class="form-control"
                   th:value="${boardDTO.regDate}" id="r" readonly>
        </div>
        <div class="mb-3">
            <label for="m" class="form-label">modDate</label>
            <input type="text" class="form-control"
                   th:value="${boardDTO.modDate}" id="m" readonly>
        </div>
        <div class="mb-3">
            <label for="c" class="form-label">content</label>
            <textarea type="text" class="form-control"
                      name="content" id="c" cols="30" rows="10" readonly>[[${boardDTO.content}]]</textarea>
        </div>
        <button type="button" id="listBtn" class="btn btn-primary">List</button>
        <button type="button" id="modBtn" class="btn btn-warning">Modify</button>
        <button type="button" id="delBtn" class="btn btn-danger">Remove</button>
    </form>

    <!-- comment -->
    <br><br>
    <!--/* comment line */-->
    <!--/* post */-->
    <!--    <th:block sec:authorize="isAnonymous()">
            <div class="input-group mb-3">
                <span class="input-group-text cmtWriter">로그인을 해주세요.</span>
            </div>
        </th:block>-->
    <th:block>
        <div class="input-group mb-3">
            <span class="input-group-text cmtWriter" id="cmtWriter">tester</span>
            <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-secondary">post</button>
        </div>
    </th:block>
    <!--/* spread */-->
    <ul class="list-group list-group-flush" id="cmtListArea">
        <li class="list-group-item">
            <div class="ms-2 me-auto">
                <div class="fw-bold">writer</div>
                Content
            </div>
            <span class="badge text-bg-primary rounded-pill">regDate</span>
        </li>
    </ul>

    <!--/* moreBnt */-->
    <div>
        <button type="button" id="moreBtn" data-page="1" class="btn btn-dark" style="visibility:hidden">MORE + </button>
    </div>

    <!--/* modal */-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cmtWriterMod">Anonymous</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="cmtTextMod">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cmtModBtn" class="btn btn-primary">changes</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let bnoValue = [[${boardDTO.bno}]];
    </script>
    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
    <script>
        spreadCommentList(bnoValue);
    </script>
</div>