<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div class="container-md" layout:fragment="content">
    <h1> Board List Page </h1>

    <br>
    <!-- search -->
    <!--검색-->
    <!--/* th:selected=true / false */-->
    <form action="/board/list" class="d-flex" role="search">
        <select class="form-select" name="type" aria-label="Default select example">
            <option th:selected="${ph.type == null ? true : false}">Choose...</option>
            <option th:value="t" th:selected="${ph.type == 't' ? true : false}">Title</option>
            <option th:value="w" th:selected="${ph.type == 'w' ? true : false}">Writer</option>
            <option th:value="c" th:selected="${ph.type == 'c' ? true : false}">Content</option>
            <option th:value="tc" th:selected="${ph.type == 'tc' ? true : false}">Title&Content</option>
            <option th:value="wc" th:selected="${ph.type == 'wc' ? true : false}">Writer&Content</option>
            <option th:value="tw" th:selected="${ph.type == 'tw' ? true : false}">Title&Writer</option>
            <option th:value="twc" th:selected="${ph.type == 'twc' ? true : false}">All</option>
        </select>
        <input class="form-control me-2" name="keyword" th:value="${ph.keyword}" type="search" placeholder="Search" aria-label="Search" />
        <input type="hidden" name="pageNo" th:value="1">
        <button type="submit" class="btn btn-primary position-relative">
            Search
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  [[${ph.totalCount}]]
                  <span class="visually-hidden">unread messages</span>
                </span>
        </button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="2">title</th>
            <th scope="col">writer</th>
            <th scope="col">reg_date</th>
            <th scope="col">read_count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bvo:${ph.list}">
            <th scope="row">[[${bvo.bno}]]</th>
            <td><a th:href="@{/board/detail(bno=${bvo.bno})}">
                [[${bvo.title}]]</a>

            </td>
            <td>
                <span class="badge rounded-pill text-bg-success">cmt:[[${bvo.cmtQty}]]</span>
                <span class="badge rounded-pill text-bg-warning">file:[[${bvo.fileQty}]]</span>
            </td>
            <td>[[${bvo.writer}]]</td>
            <td>[[${bvo.regDate}]]</td>
            <td>[[${bvo.readCount}]]</td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}"><button type="button" class="btn btn-primary">index</button></a>

    <!--페이지네이션-->
    <!--/* ${} JSP EL 방식 => 타임리프 th: / 인라인방식 [[${}]] */-->
    <!--/* disabled  class에 추가하는 방식으로 <<  >>  */-->
    <!--/* th:classappend : 동적 클래스 추가 */-->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${ph.hasPrev eq false ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/board/list(pageNo=${ph.startPage-1}, type=${ph.type}, keyword=${ph.keyword})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--/* begin end 옵션이 없음. ${#numbers.sequence(from, to)} */-->
            <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                <li class="page-item" th:classappend="${ph.pageNo eq i ? 'active' : ''}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${i}, type=${ph.type}, keyword=${ph.keyword})}">[[${i}]]</a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${ph.hasNext eq false ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/board/list(pageNo=${ph.endPage+1}, type=${ph.type}, keyword=${ph.keyword})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>