<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">
    <th:block th:with="bvo=${boardDTO.boardVO}">
      <h3>No. [[${bvo.bno}]] / Board Detail Page </h3>
      <form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">
        <input type="hidden" name="bno" th:value="${bvo.bno}">
        <div class="mb-3">
          <label for="t" class="form-label">title</label>
          <input type="text" class="form-control" name="title" th:value="${bvo.title}"
                 id="t" placeholder="test title..." readonly>
        </div>
        <div class="mb-3">
          <label for="w" class="form-label">writer</label>
          <input type="text" class="form-control" name="writer" th:value="${bvo.writer}"
                 id="w" placeholder="test@test.com" readonly>
        </div>
        <div class="mb-3">
          <label for="r" class="form-label">reg_date</label>
          <input type="text" class="form-control" name="regDate" th:value="${bvo.regDate}"
                 id="r" placeholder="test@test.com" readonly>
        </div>
        <div class="mb-3">
          <label for="c" class="form-label">content</label>
          <textarea type="text" class="form-control" name="content"
                    id="c" cols="30" rows="10" readonly>[[${bvo.content}]]</textarea>
        </div>

        <!--/* file print */-->
        <div class="mb-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" th:each="fvo:${boardDTO.fileList}">
              <div th:if="${fvo.fileType == 1}" class="mb-3">
                <img th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}">
              </div>
              <div th:unless="${fvo.fileType == 1}" class="mb-3">
                <!--/* icon */-->
                <a th:href="@{|/upload/${fvo.saveDir}/${fvo.uuid}_${fvo.fileName}|}" th:download="${fvo.fileName}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-arrow-down-fill" viewBox="0 0 16 16">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M8 5a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5A.5.5 0 0 1 8 5"/>
                  </svg>
                </a>
              </div>
              <div class="mb-3">
                <div class="fw-bold">[[${fvo.fileName}]]</div>
              </div>
              <span class="badge rounded-pill text-bg-warning">[[${fvo.regDate}]] / [[${fvo.fileSize}]]Bytes</span>
              <button type="button" th:data-uuid="${fvo.uuid}" class="btn btn-sm btn-outline-danger file-x" style="visibility:hidden;">X</button>
            </li>
          </ul>
        </div>
        <!--/* file 추가 */-->
        <div class="mb-3">
          <input type="file" class="form-control" name="files" id="file" multiple style="display:none;">
          <button type="button" class="btn btn-outline-primary" id="trigger" disabled>file upload</button>
        </div>

        <!--/* file 표시 */-->
        <div class="mb-3" id="fileZone"></div>

        <button type="button" id="modBtn" class="btn btn-success">Modify</button>
        <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" id="delBtn" class="btn btn-danger">Delete</button></a>
        <a th:href="@{/board/list}"><button type="button" class="btn btn-primary">List</button></a>
      </form>
      <br><br>
      <!--/* comment line */-->
      <!--/* post */-->
      <div class="input-group mb-3" sec:authorize="isAuthenticated()">
        <span class="input-group-text" id="cmtWriter" th:text="${#authentication.getPrincipal().username}"></span>
        <input type="text" id="cmtText" class="form-control" placeholder="Add Comment..." aria-label="Username" aria-describedby="basic-addon1">
        <button type="button" id="cmtAddBtn" class="btn btn-secondary">post</button>
      </div>
      <!--/* spread */-->
      <ul class="list-group list-group-flush" id="cmtListArea">
        <li class="list-group-item">
          <div class="ms-2 me-auto">
            <div class="fw-bold">writer</div>
            Content
          </div>
          <span class="badge text-bg-primary rounded-pill">regDate</span>
        </li>
      </ul>

      <script th:inline="javascript">
        const bnoValue = [[${bvo.bno}]];
        console.log(bnoValue);
      </script>
      <th:blcok sec:authorize="isAuthenticated()"
                th:with="authEmail=${#authentication.getPrincipal().username}">
        <script th:inline="javascript">
          const userEmail = [[${authEmail}]];
          console.log(userEmail);
        </script>
      </th:blcok>
    </th:block>

    <script th:src="@{/js/boardDetail.js}"></script>
    <script th:src="@{/js/boardRegister.js}"></script>
    <script th:src="@{/js/boardComment.js}"></script>
  </div>
</div>
