<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h3> Board List Page </h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">writer</th>
                <th scope="col">reg_date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bvo:${list}">
                <th scope="row">[[${bvo.bno}]]</th>
                <td><a th:href="@{/board/detail(bno=${bvo.bno})}">[[${bvo.title}]]</a></td>
                <td>[[${bvo.writer}]]</td>
                <td>[[${bvo.regDate}]]</td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/}"><button type="button" class="btn btn-primary">index</button></a>
    </div>
</div>