<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-md">
        <h3> Board List Page </h3>
        <br>
        <!--검색-->
        <!--/* th:selected=true / false */-->
        <form action="/board/list" class="d-flex" role="search">
            <select class="form-select" name="type" aria-label="Default select example">
                <option th:selected="${ph.pagingVO.type == null ? true : false}">Choose...</option>
                <option th:value="t" th:selected="${ph.pagingVO.type == 't' ? true : false}">Title</option>
                <option th:value="w" th:selected="${ph.pagingVO.type == 'w' ? true : false}">Writer</option>
                <option th:value="c" th:selected="${ph.pagingVO.type == 'c' ? true : false}">Content</option>
                <option th:value="tc" th:selected="${ph.pagingVO.type == 'tc' ? true : false}">Title&Content</option>
                <option th:value="wc" th:selected="${ph.pagingVO.type == 'wc' ? true : false}">Writer&Content</option>
                <option th:value="tw" th:selected="${ph.pagingVO.type == 'tw' ? true : false}">Title&Writer</option>
                <option th:value="twc" th:selected="${ph.pagingVO.type == 'twc' ? true : false}">All</option>
            </select>
            <input class="form-control me-2" name="keyword" th:value="${ph.pagingVO.keyword}" type="search" placeholder="Search" aria-label="Search" />
            <input type="hidden" name="pageNo" th:value="1">
            <input type="hidden" name="qty" th:value="${ph.pagingVO.qty}">
            <button type="submit" class="btn btn-primary position-relative">
                Search
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  [[${ph.totalCount}]]
                  <span class="visually-hidden">unread messages</span>
                </span>
            </button>
        </form>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">writer</th>
                <th scope="col">reg_date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bvo:${list}">
                <th scope="row">[[${bvo.bno}]]</th>
                <td><a th:href="@{/board/detail(bno=${bvo.bno})}">[[${bvo.title}]]</a></td>
                <td>[[${bvo.writer}]]</td>
                <td>[[${bvo.regDate}]]</td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/}"><button type="button" class="btn btn-primary">index</button></a>

        <!--페이지네이션-->
        <!--/* ${} JSP EL 방식 => 타임리프 th: / 인라인방식 [[${}]] */-->
        <!--/* disabled  class에 추가하는 방식으로 <<  >>  */-->
        <!--/* th:classappend : 동적 클래스 추가 */-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${ph.prev eq false ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${ph.startPage-1}, qty=${ph.pagingVO.qty}, type=${ph.pagingVO.type}, keyword=${ph.pagingVO.keyword})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <!--/* begin end 옵션이 없음. ${#numbers.sequence(from, to)} */-->
                <th:block th:each="i:${#numbers.sequence(ph.startPage, ph.endPage)}">
                    <li class="page-item" th:classappend="${ph.pagingVO.pageNo eq i ? 'active' : ''}">
                        <a class="page-link" th:href="@{/board/list(pageNo=${i}, qty=${ph.pagingVO.qty}, type=${ph.pagingVO.type}, keyword=${ph.pagingVO.keyword})}">[[${i}]]</a>
                    </li>
                </th:block>

                <li class="page-item" th:classappend="${ph.next eq false ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{/board/list(pageNo=${ph.endPage+1}, qty=${ph.pagingVO.qty}, type=${ph.pagingVO.type}, keyword=${ph.pagingVO.keyword})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
